<div class="container">
    <div class="footer">
        <ul class="icon-list">
            <li class="icon-list-item item">
                <button class="footer-button mail" type="button"></button>
            </li>
            <li class="icon-list-item item">
                <button class="footer-button firefox" type="button"></button>
            </li>
            <li class="icon-list-item item">
                <button class="footer-button settings" type="button"></button>
            </li>
            <li class="icon-list-item item">
                <button class="footer-button telegram" type="button"></button>
            </li>
            <li class="icon-list-item item">
                <button class="footer-button command" type="button"></button>
            </li>
            <li class="icon-list-item item">
                <button class="footer-button basket" type="button"></button>
            </li>
        </ul>
    </div>
</div>