<main class="main">
    <div class="container">
        <div class="window">
            <div class="window-header">
                <div class="dots">
                    <span class="red-circle"></span>
                    <span class="yellow-circle"></span>
                    <span class="grey-circle"></span>
                </div>
                <h2 class="window-header-title">Desktop & Screen Saver</h2>
                <form class="form">
                    <input class="input" type="text" placeholder="Search">
                    <button class="search-button" type="submit">
                        <svg class="search-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <path
                                d="M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z">
                            </path>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="window-section">
                <div class="list-holder">
                    <ul class="image-list">
                        <li class="image-list-item">
                            <img src="./images/image-1.jpg" alt="image-1">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-2.jpg" alt="image-2">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-3.jpg" alt="image-3">
                        </li>
                        <li class="image-list-item current">
                            <img src="./images/image-4.jpg" alt="image-4">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-5.jpg" alt="image-5">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-6.jpg" alt="image-6">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-7.jpg" alt="image-7">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-8.jpg" alt="image-8">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-9.jpg" alt="image-9">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-10.jpg" alt="image-10">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-11.jpg" alt="image-11">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-12.jpg" alt="image-12">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-13.jpg" alt="image-13">
                        </li>
                        <li class="image-list-item">
                            <img src="./images/image-14.jpg" alt="image-14">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>