.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 120px;
}

.icon-list {
  display: flex;
  width: 740px;
  margin: 0 auto;
  padding: 16px 26px;
  background-color: var(--main-bg-color);
  border: 1px solid #cdcccb;
  border-radius: 40px;

  & .item + .item {
    margin-left: 24px;

    &:last-child {
      position: relative;
      margin-left: 48px;

      &::before {
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        left: -20px;
        width: 1px;
        height: 92px;
        background-color: #110a09;
      }
    }
  }
}

.footer-button {
  display: block;
  width: 92px;
  height: 92px;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.mail {
    position: relative;
    background-image: url(../images/icons/mail.png);

    &::after {
      display: flex;
      justify-content: center;
      align-items: center;
      content: '39';
      position: absolute;
      top: -5px;
      right: -5px;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: #f02912;
      font-size: 14px;
      color: #ffffff;
    }
  }

  &.firefox {
    background-image: url(../images/icons/firefox.png);
  }

  &.settings {
    background-image: url(../images/icons/settings.png);
  }

  &.telegram {
    background-image: url(../images/icons/telegram.png);
  }

  &.command {
    background-image: url(../images/icons/command.png);
  }

  &.basket {
    background-image: url(../images/icons/basket.png);
    background-size: contain;
  }

  &:hover {
    transform: scale(1.2);
  }
}
